* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #ade8f4;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: #023e8a;

}

.logo {
  width:75px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.li-hor {
  margin-left: 10px;
  font-size: 1.1rem;
}

.footer {
  background-color: #023e8a;
}

.footer-small {
  color: whitesmoke;
}